<!DOCTYPE html>
<% if @early %>
  <%=@early %>
<% end %>
<html>
<head>
  <title><%= page_title %></title>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <meta http-equiv="Content-Style-Type" content="text/css" />

  <% for @script in @beforejs %>
      <script type="text/javascript" src="<%= @script %>"></script>
  <% end %>

  <% for @src in @css %>
      <link rel="stylesheet" type="text/css" href="<%= @src %>" />
  <% end %>
</head>
<body<% if @page %> class="body-<%=@page%>"<% end %>>

<% if @nav %>
  <nav class="nav">
    <% @nav.each() do |item| %>
        <% match = item[:url] == request.path_info %>
        <% item[:child_urls].each() { |url| match = match || request.path_info.match( url ) } %>
          <a href="<%=item[:url]%>" <%=(match ? ' class="active"' : '')%>><%=item[:label]%></a>
    <% end %>
  </nav>
<% end %>

<% if @header %>
 <header>
  <h1 title="Liftstream">
    <%=@header%>
  </h1>
 </header>
<% end %>

<div id="content"<% if @page %> class="<%=@page%>"<% end %>>
    <%= yield %>
</div>

<% if @footer %>
 <footer>
    <%=@footer%>
 </footer>
<% end %>

<% for @script in @js %>
    <script type="text/javascript" src="<%= @script %>"></script>
<% end %>


<% for @script in @afterjs %>
    <script type="text/javascript" src="<%= @script %>"></script>
<% end %>

</body>
</html>

