<div id="date">
<a href="#">Previous</a>
Date
<a href="#">Next</a>
</div>

<% for @routine in @routines %>
	<div class="routine">
		test
	</div>
<!-- 	<div class="row">
	  <div class="span12">
		<form action="/routine" method="post">
		  <label for="name">Routine Name:</label> <input type="text" name="name" value="<%=@routine.name%>" />
		  <label for="name">Description:</label>
		  <textarea name="description"><%=@routine.description%></textarea>
		  <table class="table-bordered table-striped">
			<thead>
			  <th>Exercise name</th>
			  <th>Sort</th>
			</thead>
			<tbody>
			  <% for @exercise in @routines.routine_exercises %>
				<tr>
				  <td>
				  	<input type="text" name="name_<%=@exercise.id%>" value="<%=@exercise.name%>" />
				  </td>
				  <td>
				  	<input type="text" name="sort_<%=@exercise.id%>" value="<%=@exercise.sort%>" />
				  </td>
				</tr>
			  <% end %>
			<tbody>
		  </table>
		  <input type="hidden" name="routine_id" value="@routine.id" />
		  <button type="submit">Save Routine</button>
		</form>
	  </div>
	</div>
	<hr /> -->
<% end %>